* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  h1 {
    color: black;
  }
  
  #vc {
    color: black;
  }
  
  #hdr {
  }
  
  .logo {
    width: 300px;
    height: 300px;
    animation: myRotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: absolute;
      overflow: hidden;
  }
  @keyframes mySlide {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }
  
  @keyframes myRotate {
    100% {
      transform: rotateZ(360deg)
    }
  }
  
  body {
    overflow: hidden;
    animation: bgcolor infinite 20s;
  }
  
  @keyframes bgcolor {
    0% {
      background: #e74c3c;
    }
  
    20% {
      background: #e67e22;
    }
  
    40% {
      background: #f1c40f;
    }
  
    60% {
      background: #2ecc71;
    }
  
    80% {
      background: #2980b9;
    }
  
    90% {
      background: #8e44ad;
    }
  
    100% {
      background: #e74c3c;
    }
  }
  
  section {
    position: relative;
overflow: hidden;
  }
